
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans:300|Oleo+Script:400,700" rel="stylesheet">
    <title>Amanda's Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
    <%= link_to "Home", root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-brand">
          <li class="About-page-nav"><%= link_to 'New Recipe', new_recipe_path %></li>
      </ul>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-brand">
          <li class="About-page-nav"><%= link_to "About", pages_about_path %> </li>
      </ul>
    </div>
  </nav><!--navbar ends here-->
</div><!--container for nav bar-->
  
  <body>
  <div class="new-recipe">  <%= yield %>
  </div>
  </body>
</html>
